.panel__header {
    background-color: rgb(255, 255, 255);
    padding: 15px 10px 15px 10px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.panel__header-top {
    display: flex;
    justify-content: space-between;
}

.panel__header-bottom {
    display: flex;
    margin-top: 10px;
}

.panel__footer {
    margin-top: 15px;
    text-align: end;
}

.search__section {
    flex: 1 1 50%;
}

.action__section {
    flex: 1 1 50%;
    text-align: right;
}